name: code quality pipleline

on:
  push:
    branches:
      - '**'

  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  code-quality:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Bun
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      # Install dependencies
      - name: Install dependencies
        run: bun install --frozen-lockfile

      # Prettier check
      - name: Run Prettier check
        run: bun run format:check

      # ESLint check
      - name: Run ESLint
        run: bun run lint
